In [3]:
import pickle

In [7]:
model = None

with open('cf.pkl', 'rb') as f:
    model = pickle.load(f)
    
model

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=4, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [8]:
import pandas as pd

data = pd.read_csv('clustering_dataset.csv')
data.head()

   0  1  1.1  1.2  0.1  1.3  0.2  1.4  1.5  1.6
0  1  1    1    1    0    0    1    0    0    1
1  1  1    1    1    1    0    1    0    1    1
2  1  0    1    1    1    0    0    0    1    1
3  0  1    1    0    1    0    1    1    1    0
4  1  1    0    1    1    0    0    1    0    1

In [10]:
y_means = model.predict(data.values)
y_means

array([3, 3, 3, 0, 1, 3, 0, 2, 0, 2, 0, 3, 1, 0, 0, 1, 3, 1, 0, 0, 2, 0, 3,
       0, 0, 2, 0, 3, 3, 0, 0, 3, 3, 3, 2, 1, 0, 3, 3, 0, 0, 2, 2, 0, 2, 0,
       1, 0, 2, 2, 0, 2, 1, 1, 3, 2, 3, 0, 3, 2, 1, 2, 2, 0, 3, 1, 0, 3, 1,
       0, 3, 0, 3, 3, 3, 2, 1, 0, 0, 3, 3, 1, 3, 1, 3, 0, 3, 0, 0, 0, 2, 2,
       0, 2, 0, 3, 0, 3, 3], dtype=int32)

In [12]:
data['cluster'] = pd.Series(y_means)

data.head()

   0  1  1.1  1.2  0.1  1.3  0.2  1.4  1.5  1.6  cluster
0  1  1    1    1    0    0    1    0    0    1        3
1  1  1    1    1    1    0    1    0    1    1        3
2  1  0    1    1    1    0    0    0    1    1        3
3  0  1    1    0    1    0    1    1    1    0        0
4  1  1    0    1    1    0    0    1    0    1        1

In [14]:
data.to_csv('labeled_dataset.csv')